[submodule ".tmux/themes/tmux-themepack"]
	path = .tmux/themes/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule "src/hosts"]
	path = src/hosts
	url = https://github.com/StevenBlack/hosts.git
	ignore = dirty
[submodule "bin"]
	path = bin
	url = https://github.com/nhoag/bindir.git
[submodule ".emacs.d/src/sensible-defaults.el"]
	path = .emacs.d/src/sensible-defaults.el
	url = git@github.com:hrs/sensible-defaults.el.git
