[submodule ".tmux/themes/tmux-themepack"]
	path = .tmux/themes/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
	shallow = true
[submodule "src/hosts"]
	path = src/hosts
	url = https://github.com/StevenBlack/hosts.git
	shallow = true
